@charset: "utf-8";

@font-face { font-family: "Droid Sans"; src: url("http://marketing-candy.com/wp-includes/DroidSans.ttf"); }
@font-face { font-family: "Myriad Pro"; src: url("http://marketing-candy.com/wp-includes/MyriadPro.otf"); }

html {
	height: 100%;
}

body {
	background: #ffffff url(http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/roe/Include/bg.png) repeat-x right top;
	color: #555555;
	font-family: "Droid Sans", "Myriad Pro", Helvetica, Arial, sans-serif;
}

p {
	margin-bottom: 20px;
}

/* Begin General Link Styles */

a, a:visited {
	color: #83b441;
	text-decoration: none;
}

a:hover, a:focus {
	color: #83b441;
	outline: none;
	text-decoration: underline;
}

a:active {
	color: #5d802e;
	text-decoration: underline;
}

/* End General Link Styles */

/* Begin General Header Styles */

h1 {
    font-size: 28px;
	margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

/* End General Header Styles */

/* Begin General Form Styles */

label {
}

input[type="text"], input[type="password"], select {
}

input[type="checkbox"] {
}

/* End General Form Styles */

/* Begin Main Content */

#content {
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
	width: 960px;
}

/* End Main Content */

/* Begin Header */

header {
	height: 134px;
	margin: 0 auto 20px auto;
}

#logo {
	float: left;
	padding-left: 3px;
	padding-top: 50px;
}

#main-nav {
	float: left;
	padding-left: 177px;
	padding-top: 63px;
}

#main-nav ul {
	list-style: none;
}

#main-nav ul li {
	float: left;
	margin-right: 10px;
}

#main-nav ul:first-child {
	padding-left: 10px;
}

#main-nav ul li a {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 18px;
	padding: 5px 10px;
	text-decoration: none;
}

#main-nav ul li a:hover, #main-nav ul li a:focus {
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#main-nav ul li a:active {
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

/* End Header */

/* Begin Sidebar */

#sidebar {
    float: left;
	font-size: 19px;
    width: 160px;
}

/* End Sidebar */

/* Begin Main */

#main {
	float: left;
	margin-left: 20px;
	width: 780px;
}

#main h1 {
	text-align: center;
}

/* End Main */

/* Begin Footer */

footer {
	width: 960px;
}

footer p {
	color: #aaaaaa;
	font-size: 9px;
	text-align: center;
}

footer p a {
	color: #aaaaaa !important;
}

/* End Footer */

/* Begin Registration */

.registration-field-row {
	margin-top: 10px;
	overflow: hidden;
}

.registration-field {
	float: left;
	margin-right: 10px;
	width: 185px;
}

#login.registration {
	padding: 10px;
}

#Form1.registration {
	padding: 10px;
}

/* End Registration */

/* Begin Help Popup */

#help_popup {
	background: #f5b5a9 url(error.png) no-repeat 15px center;
	border: 1px solid #eb5339;
	left: 5px;
	min-height: 16px;
	position: absolute;
	padding: 10px 15px 10px 62px;
	text-align: left;
	top: 5px;
	visibility: hidden;
	width: 300px;
	z-index: 10;
}

#help_header {
	font-weight: bold;
	margin-bottom: 10px;
}

/* End Help Popup */

/* Begin Product Search */

#products-search {
    padding: 7px 43px;
    margin-bottom: 20px;
}

#products-search input[type="submit"] {
}

#products-search input[type="submit"]:active {
}

/* End Product Search */

/* Begin Products */

#added-to-cart {
	background: #e2ff7d url(success.png) no-repeat 15px center;
	border: 1px solid #99c600;
	display: none;
	left: 5px;
	min-height: 16px;
	position: absolute;
	padding: 10px 15px 10px 62px;
	text-align: left;
	top: 5px;
	width: 300px;
	z-index: 10;
}

#added-to-cart-header {
	font-weight: bold;
	margin-bottom: 10px;
}

#products {
    margin: 10px 0;
    overflow: hidden;
}

.product {
    margin: 10px;
    height: 379px;
    width: 100%;
}

.product-name {
    margin-bottom: 10px;
}

.product-thumbnail {
	float: left;
    margin: 0 10px 10px 0;
    text-align: center;
	width: 350px;
}

.product-thumbnail img {
    max-height: 300px;
}

.product-description-container {
	float: left;
	width: 410px;
}

.product-pricing th {
	border-bottom: 1px dotted;
	padding: 5px;
	text-align: left;
}

.product-pricing tr th:nth-child(2), .product-pricing tr td:nth-child(2) {
	border-left: 1px dotted;
}

.product-actions {
    height: 30px;
    clear: both;
}

.product-checkbox {
    display: none;
    float: left;
    margin-left: 5px;
    margin-top: 8px;
}

.product-checkbox input[type="checkbox"] {
    height: 14px;
    margin-left: 5px;
    width: 14px;
}

.product-quantity {
    float: left;
    margin-left: 5px;
    margin-top: 6px;
}

.product-quantity input[type="text"], .product-quantity select {
    margin-left: 5px;
    width: 129px;
}

.product-favorite {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}

.products-add-to-cart {
	float: left;
    margin: 5px 10px;
}

/* End Products */

/* Begin Product Categories */

#product-categories {
    margin: 10px 0;
    overflow: hidden;
}

.product-category {
    float: left;
    margin: 10px;
    width: 200px;
}
.product-category-thumbnail {
	border: 1px solid #999999;
    height: 200px;
    margin-bottom: 10px;
	padding: 5px;
    text-align: center;
}

.product-category-thumbnail img {
    max-height: 200px;
}

.product-category-name {
	text-align: center;
}

/* End Product Categories */

/* Begin Orders */

#orders-search {
}

#orders-search input[type="submit"] {
}

#orders-search input[type="submit"]:active {
}

#orders {
	width: 100%;
}

#orders img {
	max-height: 20px;
	max-width: 20px;
}

#orders th, #orders td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

#orders tbody tr:nth-child(odd) {
	background: #dddddd;
}

.order-date {
	width: 100px;
}

.order-cart-number {
	width: 51px;
}

.order-item-number {
	width: 53px;
}

.order-po-number {
	width: 39px;
}

.order-cost {
}

.order-quantity {
}

.order-product-name {
}

.order-status {
}

.order-preview {
	width: 81px;
}

/* End Orders */

/* Begin Cart */

#cart {
	margin-bottom: 20px;
	width: 100%;
}

#cart img {
	border: 0 !important;
	max-height: 20px;
	max-width: 20px;
}

#cart th, #cart td {
	padding: 5px;
	text-align: left;
}

#cart tbody tr:nth-child(odd) {
	background: #cccccc;
}

.cart-checkbox {
}

.cart-item-number {
}

.cart-date {
}

.cart-quantity {
}

.cart-product-name {
}

.cart-cost {
}

.cart-actions {
}

#delivery {
}

select[name="DeliveryAddress"] {
    width: 450px;
}

/* End Cart */

/* Begin Checkout */

#delivery-details {
	margin-bottom: 20px;
	overflow: hidden;
}

#ordered-by, #deliver-to {
	float: left;
	width: 385px;
}

#checkout {
	margin-bottom: 20px;
	width: 100%;
}

#checkout th, #checkout td {
	padding: 5px;
	text-align: left;
}

#checkout tbody tr:nth-child(odd) {
	background: #eeeeee;
}

#checkout tbody tr:last-child {
	background: #cccccc;
}

#checkout-order-details {
	margin-bottom: 20px;
}

/* End Checkout */